apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../bases/monitoring
  - resources/monitoring.ingress.yaml
  - resources/grafana-storage.pvc.yaml
  - resources/shinyproxy.servicemonitor.yaml

patchesStrategicMerge:
  - patches/grafana.deployment.yaml
  - patches/kubeStateMetrics-deployment.yaml
  - patches/prometheus.prometheus.yaml
  - patches/alertmanager.alertmanager.yaml

components:
  - components/container-sharing

patches:
  - target:
      kind: ClusterRole
      name: prometheus-k8s
    path: patches/prometheus-k8s.clusterrole.yaml

secretGenerator:
  - name: grafana-datasources
    namespace: monitoring
    behavior: replace
    files:
      - datasources.yaml=configs/datasources.yaml
#  Example OIDC Configuration:
#  - envs:
#      - secrets/grafana.env
#    name: grafana
#    namespace: monitoring

configMapGenerator:
  - name: grafana-dashboards
    namespace: monitoring
    behavior: replace
    files:
      - dashboards.yaml=configs/grafana-dashboardSources.json
  - name: grafana-shinyproxy-dashboards
    namespace: monitoring
    files:
      - configs/dashboards/shinyproxy-app-logs.json
      - configs/dashboards/shinyproxy-operator-logs.json
      - configs/dashboards/shinyproxy-logs.json
      - configs/dashboards/shinyproxy-usage.json
      - configs/dashboards/shinyproxy-aggregated-usage.json
      - configs/dashboards/shinyproxy-app-resources.json

images:
  - name: grafana/grafana
    newName: grafana/grafana
    newTag: 9.5.17
